body {
    margin: 0;
    padding: 0;
    background-color: black;
}

div {
    padding: 10px;
}

.content {
}

header {
    color: white;
    position: relative;
}

#text, #logodiv {
    margin: 0;
    box-sizing: padding-box;
    position: absolute;
}

#text {
    width: 100%;
    color: white;
    top: 40px;
    z-index: 50;
    text-align: center;
}

#logodiv {
    top: 0;
    right: 0;
    z-index: 49;
    text-align: right;
}

#text span {
    /*color: #E42125;*/
    zoom: 2;
    vertical-align: super;
    background-image: -webkit-linear-gradient(left, #A47722, #E42125, #345491); /* For Chrome and Safari */
    background-image: -moz-linear-gradient(left, #A47722, #E42125, #345491); /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(left, #A47722, #E42125, #345491); /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(left, #A47722, #E42125, #345491); /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to right, #A47722, #E42125, #345491); /* Standard syntax; must be last */
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#logo {
    width: 300px;
}

aside {
    background-color: black;
    width: 15%;
    padding: 4px;
    float: left;
}

    aside a {
        color: black;
        background-color: white;
        display: block;
        padding: 10px;
        margin-bottom: 5px;
        text-decoration: none
}

        aside a:first-child {
            margin-top: 10px;
}

.page {
    background-color: white;
    margin-left: 17%;
    display: block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

#rubrik1 {
    font-family: "Lucida Sans Unicode";
    color: black
}

#stil1, #old {
    color: black;
    font-family: "Lucida Sans Unicode";
    padding: 10px;
}


#old {
    float: right;
    width: 350px;
    height: 250px;
}

#rubrik2 {
    color: black;
    font-family: "Calibri";
}

#stil2 {
    color: black;
    font-family: "Calibri";
    font-size: 20px;
    padding: 10px;
}

#flyg {
    float: left;
    width: 350px;
    height: 250px;
    padding: 10px;
}

#mcykel {
    color: black;
    font-family: fantasy;
}

#stil3 {
    color: darkmagenta;
    font-family: fantasy;
    font-size: 25px;
}

#motorc {
    float: right;
    width: 350px;
    height: 250px;
    padding: 10px;

}

.under {
    color: white;
    background-color: black;
    position: relative;
    bottom: 0;
    display: block;
}

#adress {
    color: white;
    font-family: "Century";
    font-style: italic;
    width:150px;
    position:absolute;
    left:17%;
}

#socialwrapper{
    position:absolute;
    left:50%;
}

#social {
    font-size: 35px;
    background-color:white;
    display:inline-block;
    position:relative;
    letter-spacing:8px;
}

#orgnr {
    color: white;
    font-family: "Candara";
    font-style: italic;
    width: 200px;
    position: absolute;
    right: 0%;
}
